body {
	background-color: #A0A0A0
}

div.main_heading {
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
	background-color: #808080
} 


div.sub_section_1 {
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
	font-size: medium;
	background-color: #A0A0A0;
	font-family: "Courier", Serif;		
} 


div.sub_section_2 {
    color: black;
    margin: 20px 0 20px 0;
    padding: 20px;
	font-size: medium;
	background-color: #C0C0C0;
	font-family: "Courier", Serif;		
} 

